NEXT_PUBLIC_NETWORK_TYPE="shadownet"
NEXT_PUBLIC_VOTING_RIGHTS_DELEGATION_CONTRACT=KT1XZZAzhebibno6foYEzqtEYWQ8aWFidnxQ
NEXT_PUBLIC_TZKT_URL=https://shadownet.tzkt.io
NEXT_PUBLIC_TZKT_API_URL=https://api.shadownet.tzkt.io/v1
NEXT_PUBLIC_RPC_URL=https://rpc.shadownet.teztnets.com

# PostHog
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

# Database
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Other
NEXT_PUBLIC_DISPLAY_IN_TEZ=true
