NEXT_PUBLIC_VOTING_RIGHTS_DELEGATION_CONTRACT=KT1Ut6kfrTV9tK967tDYgQPMvy9t578iN7iH
NEXT_PUBLIC_TZKT_API_URL=https://api.tzkt.io/v1
NEXT_PUBLIC_TZKT_URL=https://tzkt.io
NEXT_PUBLIC_RPC_URL=https://rpc.tzkt.io/mainnet
NEXT_PUBLIC_NETWORK_TYPE="mainnet"

# PostHog
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

# Database
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Other
NEXT_PUBLIC_DISPLAY_IN_TEZ=true
